.container {width: 100%; margin: 0 auto; padding: 0; border: 0;}

@media only screen and (max-width: 600px) {
    .headline, .title {font-size: 28px; line-height: 32px; padding-left: 0px; padding-right: 0px;}
    .container, .content {padding-left: 15px; padding-right: 15px; margin: 0 auto; width: 100%;}
    .storytext {font-size: 16px; line-height: 22px;}
    #footer {margin-bottom: 0px;}
    #photo1 {margin: 0 auto; width: 100%; height: 150;} .photos {width: 100%; height: 150;}
    .subtitle, .caption {font-size: 14px; line-height: 20px;}
    .photocred {font-size: 10px; line-height: 14px;}
    .navbar, .caption, .navbar.navbar-expand-lg.navbar-dark.bg-inherit, .row, .byline, nav {font-size: 12px; margin: 0 auto; width: 100%;}
    .photos, #photo1, #photo2, #photo3 {margin: 0 auto; width: 100%; height: auto;}
    .byline, .date {margin-bottom: 15px;}
    a.nav-link, button.search, button.login, i.fas.fa-search {display: none;}
    li.nav-title {margin: auto;}
    button.menu-bars {margin-left: 0px; padding-left: 2px; padding-right: 2px;}}

@media only screen and (min-width: 600px) {
    .col-sm-3 {border-left: 1px solid #e2e2e2;}
    button.menu-bars {margin-left: 60px;}
    .header {margin: 0 auto;}
    .navbar.navbar-expand-lg.navbar-dark.bg-inherit {margin: 0 auto; width: 100%;}
    #footer {margin-bottom: 5px;}
    .date, .byline {margin-bottom: 30px;}
    .title {font-size: 2.975rem; line-height: 3.4375rem;}
    .subtitle {font-size: 1.5rem; line-height: 1.9375rem;}
    .caption {font-size: .9375rem; line-height: 1.25rem;}
    .photocred {font-size: .8125rem; line-height: 1.125rem;}
    li.nav-title {padding-right: 60px;}}

a:hover {text-decoration: underline; color: black;}
a {color: black;}
a.nav-link {color: black; font-weight: 700;}
a.nav-link:hover {text-decoration: underline;}
a.navbar-title {display: inline-block; border-radius: 3px; margin: 0 auto; text-align: center;}
li.nav-title {margin: 0 auto; list-style-type: none;}
#logo {margin: auto;}
button.login {background-color: #6288a5; border: 1px solid #326891; font-family: 'Helvetica', sans-serif; color: #fff; cursor: pointer; font-size: 11px; font-weight: 700; padding: 11px 12px 8px; border-radius: 3px; letter-spacing: .05em; line-height: 11px; float:right; margin-left: 20px; margin-right: 60px;}
button.login:hover {background-color: #326891;}
button.menu-bars {background-color: inherit; width: 40px; display: inline-block; color: black; border: none;}
i.fas.fa-bars {background color: #d4d4d4; border-radius: 3px;}
button.search {background-color: inherit; color: black; display: inline-block; border: none;}
i.fas.fa-search {background color: #d4d4d4; border-radius: 3px;}

.title {margin-bottom: 16px; max-width: 420px; font-family: 'Georgia', 'Times New Roman', times, serif; font-weight: 200; color: black; margin-top: 100px;}
.subtitle {max-width: 660px; margin-left: auto; margin-right: auto; font-family: 'Georgia', 'Times New Roman', times, serif; color: rgb(102, 102, 102); font-weight: 300;}
.header {max-width: 660px; width: 100%; margin-bottom: 25px; margin: 0 auto;}

p {width: 100%; text-align:left; font-family: 'Georgia', 'Times New Roman', times, serif; font-size: 1.25rem; line-height: 1.875rem;}
.storytext {margin-bottom: 50px;}

ul.navbar-nav {margin-left: 20%; display: inline; color: black;}
.nav-item, .nav-item-active, .nav-link {display: inline; font-size: 1em; color: black; font-family: 'Helvetica', sans-serif;}
.navbar {font-family: 'Montserrat', sans-serif; color: inherit; width: 100%; border-bottom: 1px solid #bfbfbf;}

.headline {font-family: 'Georgia', 'Times New Roman', serif; font-size: 26px; font-weight: 200; color: black; text-align: left; margin: 0 auto;}
.byline {font-size: .9375rem; line-height: 1.25rem; display: inline-block; letter-spacing: .02em; font-weight: 700; font-family: 'Helvetica', arial, sans-serif; color: #333; margin: 0; margin-bottom: 30px;}

.content {width: 100%; margin: 0 auto; padding: 0; border: 0; max-width: 600px;}

#photo1 {max-width: 900px; margin: 0 auto; margin-bottom: 40px; text-align: left;}
#photo2, #photo3 {max-width: 700px; margin: 0 auto; margin-bottom: 40px; text-align: left;}
.photos {text-align: left; width: 100%; margin: 0 auto; margin-top: 30px; display: inline-block;}
.caption {font-weight: 500; font-family: 'Georgia', 'Times New Roman', times, serif; margin: 0 auto; color: #666; text-align: left;}
.photocred {display: inline-block; color: #888; font-family: 'Georgia', 'Times New Roman', times, serif; letter-spacing: .01em;}
.date {font-family: 'Helvetica', arial, sans-serif; font-weight: 500; color: #333; font-size: .8125rem; line-height: 1rem; margin-bottom: 30px;}

#footer {width: 100%;
margin: 0 auto;
background-color: black;
height: 85px;
font-size: 12px;
color: white;
font-family: 'Helvetica', 'Arial', sans-serif;
display: block;
margin-top: 30px;
text-align: center;}
